stages: 
  - build
  - diff
  - deploy


ci-job:

  stage: build

  image: docker:28.1

  services: 
    - docker:28.1-dind


  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker context create ci-context
    - docker context use ci-context
    - docker buildx create --name multiarch-builder --driver docker-container --use ci-context

  script:
    - echo "Building..."
    - | 
        if [ -n "$CI_COMMIT_TAG" ]; then
        IMAGE_TAG=$CI_COMMIT_TAG
        else 
        IMAGE_TAG=${CI_COMMIT_SHORT_SHA:0:8}
        fi
        echo "READING THE IMAGE TAG"
    
    - docker buildx build --platform linux/amd64,linux/arm64 -t ${CI_REGISTRY_IMAGE}:${IMAGE_TAG} --push .
    - echo "${CI_REGISTRY_IMAGE}:${IMAGE_TAG} WAS SUCCESFULLY BUILT AND PUSHED IN GITLAB"


  rules:
    - if: $CI_COMMIT_TAG
      when: always
    - when: manual

hawk-job:
    stage: build

    image: docker:28.1

    services: 
    - docker:28.1-dind

    before_script:
    - echo "$HAWK_REGISTRY_PASSWORD" | docker login -u "$HAWK_REGISTRY_USER" --password-stdin "$HAWK_REGISTRY"
    - docker context create hawk-context
    - docker context use hawk-context
    - docker buildx create --name multiarch-builder --driver docker-container --use hawk-context
    script:
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        IMAGE_TAG=$CI_COMMIT_TAG
        else 
        IMAGE_TAG=${CI_COMMIT_SHORT_SHA:0:8}
        fi
        echo "READING THE IMAGE TAG"

    - docker buildx build --platform linux/amd64,linux/arm64 -t ${HAWK_REGISTRY_IMAGE}:${IMAGE_TAG} --push .
    - echo "${HAWK_REGISTRY_IMAGE}:${IMAGE_TAG} WAS SUCCESFULLY PUSHED TO HAWK"   
    rules:
    - if: $CI_COMMIT_TAG
      when: always
    - when: manual


env1-diff-job:
  stage: diff
  image: registry.csc.sibsutis.ru/csc-public/internal-container-images/k8s-tools:latest
  before_script:
    - export KUBECONFIG=$KUBECONFIG
  script:
    - echo "DIFF:"
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        IMAGE_TAG=$CI_COMMIT_TAG
        else 
        IMAGE_TAG=${CI_COMMIT_SHORT_SHA:0:8}
        fi
        echo "READING THE IMAGE TAG"
    - helmfile -e env-one diff --set image.tag=${IMAGE_TAG}
  rules:
  - when: always

env2-diff-job:
  stage: diff
  image: registry.csc.sibsutis.ru/csc-public/internal-container-images/k8s-tools:latest
  before_script:
    # - export KUBECONFIG=yamles/config/ci_k8s.yaml 
    - export KUBECONFIG=$KUBECONFIG
  script:
    - echo "DIFF:"
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        IMAGE_TAG=$CI_COMMIT_TAG
        else 
        IMAGE_TAG=${CI_COMMIT_SHORT_SHA:0:8}
        fi
        echo "READING THE IMAGE TAG"
    - helmfile -e env-two diff --set image.tag=${IMAGE_TAG}
  rules:
  - when: always


env1-deploy-job:
  stage: deploy
  image: registry.csc.sibsutis.ru/csc-public/internal-container-images/k8s-tools:latest
  before_script:
    # - export KUBECONFIG=yamles/config/ci_k8s.yaml
    - export KUBECONFIG=$KUBECONFIG
  script:
    - echo "START DEPLOYING..."
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        IMAGE_TAG=$CI_COMMIT_TAG
        else 
        IMAGE_TAG=${CI_COMMIT_SHORT_SHA:0:8}
        fi
        echo "READING THE IMAGE TAG"
    
    - echo "USING TAG ${IMAGE_TAG}"i

    - helmfile -e env-one apply --set image.tag=${IMAGE_TAG}

    - echo "CHANGES WERE SUCCESFULLY APPLIED"
  rules:
  - when: manual

env2-deploy-job:
  stage: deploy
  image: registry.csc.sibsutis.ru/csc-public/internal-container-images/k8s-tools:latest
  before_script:
    # - export KUBECONFIG=yamles/config/ci_k8s.yaml 
    - export KUBECONFIG=$KUBECONFIG
  script:
    - echo "START DEPLOYING..."
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        IMAGE_TAG=$CI_COMMIT_TAG
        else 
        IMAGE_TAG=${CI_COMMIT_SHORT_SHA:0:8}
        fi
        echo "READING THE IMAGE TAG"
    
    - echo "USING TAG ${IMAGE_TAG}"
    
    - helmfile -e env-two apply --set image.tag=${IMAGE_TAG}

    - echo "CHANGES WERE SUCCESFULLY APPLIED"
  rules:
  - when: manual